# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info

lib
lib64

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# IntelliJ
*.iml
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
# Kotlin
/.kotlin
# Mac OS
.DS_Store
/captures
# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild
.cxx
# log files
*.log
/notebooks/.ipynb_checkpoints/
